{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": false,
        "minify": false,
        "transpileTemplateLiterals": false,
        "pure": true
      }
    ]
  ]
}
