@tailwind base;
@tailwind components;
@tailwind utilities;
@import "story";

.default-row {
  display: flex;
  align-items: center;
  gap: 8px;
  &--grey {
    @apply text-lightGrey;
    svg,
    path {
      @apply text-current fill-current stroke-current;
    }
    &:hover {
      @apply text-darkGrey;
    }
  }
}

.default-shadow {
  @apply shadow-defaultShadowSpread;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @apply bg-primary;
  z-index: 999;
}

.tox-statusbar__branding {
  display: none;
}

// Toast CSS overrides

.Toastify__toast-theme--light {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

// Swal2 CSS overrides
button.swal2-confirm {
  background-color: #1dc071 !important;
  &:hover {
    background-color: #4acd8d !important;
  }
  &:focus {
    box-shadow: none !important;
  }
}

// Tabs CSS overrides
a:hover {
  color: unset !important;
}
.ant-tabs-tab {
  padding-top: 0 !important;
  padding-bottom: 12px !important;
}

.ant-tabs-tab-btn {
  color: #242424 !important;
  opacity: 0.8;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  opacity: 1;
}

.ant-tabs-ink-bar {
  background-color: #242424 !important;
}
