@tailwind base;
@tailwind components;
@tailwind utilities;

.default-row {
  display: flex;
  align-items: center;
  gap: 8px;
  &--grey {
    @apply text-lightGrey;
    svg,
    path {
      @apply text-current fill-current stroke-current;
    }
    &:hover {
      @apply text-darkGrey;
    }
  }
}

.default-shadow {
  @apply shadow-defaultShadowSpread;
}
