@tailwind base;
@tailwind components;
@tailwind utilities;

.default-row {
  display: flex;
  align-items: center;
  gap: 8px;
  &--grey {
    @apply text-lightGrey;
    svg,
    path {
      @apply text-current fill-current stroke-current;
    }
    &:hover {
      @apply text-darkGrey;
    }
  }
}

.default-shadow {
  @apply shadow-defaultShadowSpread;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @apply bg-darkGrey;
  z-index: 999;
}
