.ant-select-multiple {
  font-family: "DM Sans", sans-serif !important;
  height: 48px !important;
}

.ant-select-selector {
  background-color: #e7ecf3 !important;
}

.ant-select-selector:hover {
  border-color: #d9d9d9 !important;
}

.ant-select-selection-placeholder {
  color: #9ca3be !important;
}
