.ant-select-multiple {
  font-family: "DM Sans", sans-serif !important;
  height: 48px !important;
  @media screen and (max-width: 1280px) {
    height: unset !important;
  }
}

.ant-select-selector {
  background-color: #e7ecf3 !important;
}

.ant-type-something {
  color: #a0a0a0 !important;
}

.ant-select-selector:hover {
  border-color: #d9d9d9 !important;
}

.ant-select-selection-placeholder {
  color: #9ca3be !important;
}

.ant-select-has-error {
  .ant-select-selector {
    background-color: rgb(255, 215, 215) !important;
  }
  .ant-select-selector {
    border: 1px solid red !important;
    &:hover,
    &:active,
    &:focus {
      border-color: 1px solid red !important;
    }
  }
  .ant-select-selection-placeholder {
    color: rgb(255, 49, 49) !important;
  }
}
