.tox-tinymce {
  border: 2px solid #c4c5cd !important;
}
.tox-editor-container {
  * {
    color: #242424;
    word-break: break-word;
  }
  p {
    line-height: 32px;
    font-size: 20px;
    font-weight: 400;
  }
  h1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 30px;
    margin-top: 16px;
  }
  h2 {
    line-height: 24px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
  }
  ol {
    list-style: decimal;
    font-size: 20px;
  }
  ul {
    list-style: disc;
    font-size: 20px;
  }
}

.tox:not(.tox-tinymce-inline) .tox-editor-header:not(.tox-editor-dock-transition) {
  margin: 0 auto;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
  box-shadow: none !important;
  border-radius: 16px !important;
  overflow: hidden !important;
  padding: 12px 0 !important;
}

.tox .tox-tbtn {
  width: 30px !important;
  &:hover {
    background-color: #cdcdcd !important;
  }
  &--enabled {
    background-color: #cdcdcd !important;
  }
}
.tox-statusbar__help-text {
  opacity: 0;
  visibility: hidden;
}
.tox .tox-tbtn--bespoke {
  width: max-content !important;
}

.tox .tox-toolbar {
  background-color: #ebebeb !important;
  border-radius: 8px;
}

.tox .tox-tbtn--select {
  padding: unset !important;
}

.mce-content-body {
  font-family: "Pacifico", sans-serif !important;
}

.tox-statusbar__path-item {
  display: none !important;
}
